body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
}


form input {
  border: 1px solid darkgrey;
  font-family: 'IBM Plex Mono', monospace;
  border-radius: 5px;
}

form button {
  font-family: 'IBM Plex Mono', monospace;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}


#signup button{
  border-radius: 5px;
  background-color: #5c5b5b;
  border: none;
  color: white;
}

.users-container{
  display:flex;
  flex-direction: column;
  padding: 5em
}

.user-container{
  display: flex;
  flex-direction: row;
  margin: 0em 1em;
  padding: 1em 1em;
  border: 1px solid white;
  max-width: 800px;
}

.user-info{
  margin: 0em 1em
}

.user-info > div {
  margin: 2px 0px
}

#email-img {
  background: black;
}

#profile-info{
  margin: 0em 5em;
}

#profile-info > div {
  margin: 2em 0em;
}
