body {
  font-family: monospace;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
}





#login-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margIN: 0px 50px;
}

#login-container {
  color: #f7f779;
  font-family: 'IBM Plex Mono', monospace;
}

#login {
  max-width: 500px
}

form input {
  border: 1px solid darkgrey;
  font-family: 'IBM Plex Mono', monospace;
  border-radius: 5px;
}

form button {
  font-family: 'IBM Plex Mono', monospace;
  border: 1px solid #f7f779;
  border-radius: 1px;
}

.profile-container {
  border: 1px solid white;
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inner-profile-container {
  display: flex;
  flex-direction: row;
}

#profile-info{
  margin: 0em 5em;
}

#profile-info > div {
  margin: 2em 0em;
}

#signup{
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  margin: 2ex;
  max-width: 400px;
  padding: 1em;
  background-color: #d1d1d1;
  color: black;
}

#signup button{
  border-radius: 5px;
  background-color: #5c5b5b;
  border: none;
  color: white;
}

.users-container{
  display:flex;
  flex-direction: column;
  padding: 5em
}

.user-container{
  display: flex;
  flex-direction: row;
  margin: 0em 1em;
  padding: 1em 1em;
  border: 1px solid white;
  max-width: 800px;
}

.user-info{
  margin: 0em 1em
}

.user-info > div {
  margin: 2px 0px
}

#email-img {
  background: black;
}
