body {
  font-family: monospace;
  background-color: black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  background-color: black;

  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

#welcome {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 150%;
  color: #39e600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0px 50px
}

#welcome-enter{
  width: 10em;
  align-self: flex-end;
  font-size: 1em;
  font-family: 'IBM Plex Mono', monospace;
}


button {
	background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	display: inline-block;
	margin: 1rem;
	min-width: 50px;
	padding: .1rem;
	text-transform: uppercase;
	width: auto;
}
